<%- include ('coopH/first.ejs') -%>

<div class = "container-fluid">
<% if(membersPage.length > 0) { %>   
  <table class= "table table-hover table-striped">
    <div class="thead" style="position: fixed;"> 
            <thead class= "table-dark">
        <div class="row">
            <div class="col-9 g-5">
                <tr>
                    <td scope="row">ID</td>
                    <td  scope="col">NAME</td>
                    <td  scope="col">SHARES</td>
                    <td  scope="col">SAVINGS</td>
                    <td  scope="col">BUILD FUND</td>
                    <td  scope="col">LOAN BALANCE</td>
                    <td  scope="col">LOAN REPAID</td>
                </tr>
            </div>
            <div class="col-3 offset-9 wd">
                    <h4 style="justify-content: center;" class="text-center" >ACTION</h4>
            </div>
        </div>
            </thead>
    </div>
            <tbody>
                <div class="container">
             <% membersPage.forEach((mem, index) => { %>
              <tr class="data">
                <th scope="row" style="color: white;"> <%=  mem._id %> </th>
                <td> <%= mem.name %></td>
                <td> N<%= mem.Shares %></td>
                <td> N<%= mem.Savings %></td>
                <td> N<%= mem.buildFund%></td>
                <td> N<%= mem.loanBalance %></td>
                <td> N<%= mem.loanRepaid %></td>
                <td>
                    <a href="/member/<%=mem._id%>" class="btn btn-info btn-sm">Details</a> 
                  </td>
                   <td>
                    <a href="/remove/<%=mem._id%>" class="btn btn-danger btn-sm">Remove</a> 
                   <td>                           
                   <a href="/update/<%=mem._id%>" class="btn btn-success btn-sm">Update</a>  
                   </td>  
            </tr>
              </div>
                <% }) %>
            </tbody>
        </table>
    <%  } else { %>
        <p class= "text-primary">Please add member(s) to the page</p>
    <% } %>
 </div>
</div>
</body>
</html>
